body {
  min-width: 1245px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: normal;
  color: black;
  background-color: rgb(242,242,242);
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
main h1 {
  font-size: 30px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
main h2 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
main h3 {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 21px;
  line-height: 21px;
  color: white;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*разметка шапки страницы index.html*/
.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: white;
}
.main-header .container {
    background-color: rgb(225, 238, 243);
    background-image: url("../img/background_main_img_1200.jpg");
}

.main-navigation {
  min-height: 56px;
  padding: 0 6%;
  background-color: rgb(255,255,255);
  margin-bottom: 76px;
}
.main-navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.main-navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation li {
  width: 240px;
  padding-top: 16px;
}
.main-navigation li:nth-child(3) {
  margin-left: auto;
}
.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}
.main-header .container {
  position: relative;
}
.header-logo {
  position: absolute;
  left: 44.2%;
  top: 0;
}
.header-promo {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.header-decorative-bottom {
  width: 1200px;
  height: 57px;
  background-image: url("../img/background_bottom_mask.png");
  }
/*разметка тела страницы index.html*/

main h2{
  margin: 0;
  padding:  0 300px;
  padding-top: 60px;
  background: white;
  text-align: center;
}

.container > p {
  margin-top: 30px;
  padding: 0;
  text-align: center;
  margin-bottom: 55px;
}
.reason-1 {
  color: white;
}
.description {
  width: 400px;
  min-height: 256px;
  float: left;
  text-align: center;
  background-color: #81b3d2;
}
.reason-1 h3 {
  margin-top: 46px;
  margin-bottom: 25px;
}
.reason-1 b {
  display: block;
  margin-bottom: 25px;
}
.reason-1 p {
  padding: 0 59px;
}
.reason-1 img {
  float: right;
  width: 800px;
  min-height: 256px;
}
.features {
  display: flex;
}
.features-item {
  width: 400px;
  min-height: 330px;
}
.features-item img {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0 162px;
}
.features-item b {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}
.features-item p {
  padding: 0 55px;
  text-align: center;
}
.reason-2 {
  display: flex;
  color: white;
}
.reason-2 h3 {
  margin-top: 46px;
  margin-bottom: 25px;
}
.reason-2 b {
  display: block;
  margin-bottom: 25px;
}
.reason-2 p {
  padding: 0 59px;
}
.reason-2 img {
  float: right;
  width: 800px;
  min-height: 256px;
}
.reason-3-4-5 {
  display: flex;
}
.reason-3-4-5 h3 {
    color: black;
}
.reason-3-4-5 .description{
  background-color: #eeeeee;
}
.reservation {
  position: relative;
}
.reservation h1 {
  margin: 0 400px;
  margin-top: 53px;
  text-align: center;

}
.reservation p {
  margin: 0 312px;
  margin-top: 28px;
  margin-bottom: 50px;
  text-align: center;
}
.btn-search {

  width: 568px;
  height: 86px;
  margin-left: 316px;
  margin-right: 316px;
  background-color: #766357;
}

.reservation .search-form {
  position: absolute;
  z-index: 10;
  bottom: -395px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  background-color: yellow;
}
/*разметка подвала страницы index.html*/
.main-footer {
  position: relative;
}
.main-footer .footer-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: white;
}
.main-footer figure {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 593px;
}
.main-footer .footer-contacts,
.main-footer .footer-social,
.main-footer .footer-copyright {
  width: 400px;
}
/*разметка шапки страницы sedona-hotels.html*/
.main-header .hotels {
    background-color: rgb(225, 238, 243);
    background-image: url("../img/background_hotels_img_1200.jpg");
}
.hotels .main-navigation {
  margin: 0;
}
.main-header .filter {
  margin-top: 30px;
  padding: 0 73px;
  padding-bottom: 33px;
}
.filter .infrastructure {
  float: left;
  width:254px;
}
.filter .apartment-type {
  float: left;
  width: 274px;
}
.filter .cost-per-day {
  float: right;
  width: 328px;
}
.filter .btn-show {
  float: right;
  margin-right: 96px;
  width: 133px;
}

/*разметка основного содержания страницы sedona-hotels.html*/
.sorting {
  display: flex;
  padding: 0 73px;
  padding-top: 31px;
  margin-bottom: 31px
}
.sorting h2 {
  margin: 0;
  margin-right: 48px;
  padding: 0;
}
.sorting p {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}
.sorting ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
}
.sorting .pic-up {
  margin-left: auto;
}
.sorting .pic-down {
  margin-left: 10px;
}

.results {
  margin: 0;
  padding: 0;
}
.results img {
  margin-right: 30px;
}
.results h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}
.results ul {
  margin: 0;
  padding: 0 73px;
  list-style: none;
}
.results li {
  display: flex;
}
.results .results-main {
  width: 563px;
}
.results .result-rank {
  margin-left: auto;
  width: 240px;
}

/*разметка подвала страницы sedona-hotels.html*/
.main-footer .footer-bottom {
  position: static;
}
